h1 {
	font-size: 60px;
	color: #4ae894;
}
p {
	font-size: 40px;
	color: #4ae894;
}
input {
	font-size: 20px;
	box-shadow: 10px 10px 5px gray;
	background: red;
}
label {
	font-size: 20px;
	color: #4ae894;
}

